/* private stylesheet definitions */

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
}
.hidden {
  display:none;
}
.bs-red, .text-danger {
  color: #dc3545;
  font-color:#dc3545;
}

.text-small {
  font-size: large;
  font-weight: normal;
  font-style: light;
  line-height: 0.45;
  font-family: OpenSans;
}
.text-bold {
  font-size: xx-large;
  font-weight: bold;
  font-style: bold;
  line-height: 0.75;
  font-family: roboto;
}
div.logo {
  max-height: 80px;
  height: 60px;
  padding-left: 50px;
  padding-top: 10px;
}
img.logo {
  max-height: 80px;
  height: 60px;
}
header {
  margin-bottom:30px;
}
/* startpage related stuff */
#carouselId > div.carousel-inner > div.carousel-item > img {
   max-height: 490px;
   width: auto;
}
#carouselId > div.carousel-inner > div.carousel-item > .carousel-caption {
    bottom: 10rem;
  }
#carouselId > div.carousel-inner > div.carousel-item > .carousel-caption > a.btn-xxl {
   padding: 0.75rem 1rem;
   font-size: 2.0rem;
   border-radius: 0.5rem;
   background-blend-mode: overlay;
   opacity: 80%;

}


/* surveyJS related stuff */
#surveyElement > div > form > div.sd-container-modern > div.sd-title.sd-container-modern__title {
   display: none;
}
#sv-nav-next > div > input {
   color: #dc3545;
   border: 1px solid #dc3545;
}

 
/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* insert styles here */
}

/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
  /* insert styles here */
}

/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
  /* insert styles here */
}

/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
  /* insert styles here */
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
  /* insert styles here */
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  /* insert styles here */
  .active:active {
    outline-color: #dc3545 !important; 
    outline-style: solid;
    outline-width: 1px;
  }
  .focus:focus {
    outline-color: #dc3545 !important; 
    outline-style: solid;
    outline-width: 1px;
  }
  .focus:focus, .active:active {
    outline-color: #dc3545 !important; 
    outline-style: solid;
    outline-width: 1px;
  }
  
  .btn:active {
      border: 1px solid #dc3545;
    }  
  .btn:focus {
      border: 1px solid #dc3545;
    }  
    .btn:active, .btn:focus {
      border: 1px solid #dc3545;
    }

  
 
  
 
}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
  /* insert styles here */
}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* insert styles here */

}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* insert styles here */

}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* insert styles here */

}

/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
  /* insert styles here */

  #carouselId > div.carousel-inner > div.carousel-item > img {
     max-height: 570px;
     width: auto;
  }
  #carouselId > div.carousel-inner > div.carousel-item > .carousel-caption {
    bottom: 15rem;
  }
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  /* insert styles here */
}

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
  /* insert styles here */
}

/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
  /* insert styles here */
}

/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {
  /* insert styles here */
}

/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
  /* insert styles here */
}

/* (1920x1080) Full HD Display */
@media  screen and (max-device-width: 1920px) and (min-device-width: 1920px) {
  /* insert styles here */

  #carouselId > div.carousel-inner > div.carousel-item > img {
     max-height: 640px;
     width: auto;
  }
  #carouselId > div.carousel-inner > div.carousel-item > .carousel-caption {
    bottom: 20rem;
  }
 
/* knockoutjs modifikations here */

.sd-imagepicker__image:active {
  border: solid 1px #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.sd-imagepicker__image:active, .sd-imagepicker__image:focus {
  border: 1 px solid #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  /* ---------------------------- background-color: --------------------------- */
}
.sd-imagepicker__image-container {
  border: 1px solid #dc3545;
  border-radius: 5px;
}


.sd-element--with-frame > .sd-element > .sd-question > .sd-row__question {
  /* background-image: none; */
  /*TODO red O to background */

}

.sd-imagepicker__item img, 
.sd-imagepicker__item .sd-imagepicker__image-container > div {
  background-color: unset;
}




}

/* (1600x900) HD+ Display */
@media  screen and (max-width: 1600px) {
  /* insert styles here */
}



 /* knockoutjs modifikations here */

.sd-imagepicker__image:active {
  border: 1px solid #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.sd-btn sd-navigation__next-btn {
  border: 1px solid #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.sd-imagepicker__image:focus {
  border: 1px solid #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.sd-imagepicker__image:active, 
.sd-imagepicker__image:focus {
  border: 1px solid #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  /* ---------------------------- background-color: --------------------------- */
}
.sd-imagepicker__image {
  padding-bottom: 50px
}
.sd-imagepicker__image-container {
  border: 1px solid #dc3545;
  border-radius: 5px;
}

.sd-imagepicker__text {
  position: absolute;
  margin-top: 65% !important;
}

.sd-row__question {
  white-space: normal !important;
}

.sd-element--with-frame > .sd-element > .sd-question > .sd-row__question {
  /* background-image: none; */
  /*TODO red O to background */

}

.sd-imagepicker__item img, .sd-imagepicker__item .sd-imagepicker__image-container>div {
  border: 1px solid #dc3545;
  border-radius: 5px;
  object-fit: cover !important;
  opacity: .5;
}

.sd-imagepicker__item:focus-within .sd-imagepicker__image, 
.sd-imagepicker__item--allowhover .sd-imagepicker__image:hover {
  opacity: 1.0;
}

