
.modal:nth-of-type(even) {
    z-index: 1062 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1061 !important;
}


.sd-imagepicker__image {
    max-width: 90px;
    max-height: 90px;
    border-color: #1d2124;
    border-radius: 5px;
}

image.flag {
    max-width: 200px;
    min-width: 90px;
    margin: 15px;
}

a.flag-de {
    background-image: url("../images/Flag_of_Germany.svg");
    background-blend-mode: overlay;
    background-color: transparent;
    background-position: center;
    background-size: cover;
}

a.flag-en {
    background-image: url("../images/Flag_of_the_United_Kingdom_(3-5).svg");
    background-blend-mode: overlay;
    background-color: transparent;
    background-position: center;
    background-size: cover;
}

h3, h4 {
    margin-top: 50px;
}

img.sd-logo__image {
    max-width: 120px !important;
    max-height: 60px !important;
}